<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Faster+One&family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
    <style>
    nav {
            display: flex;
            justify-content: space-evenly;
            /* background-color: orange; */
            padding: 10px;
            border-radius: 10px;
            background-image: url('/assets/chrome.png');
            background-position: bottom;
            font-size: .75em;
            text-decoration: none;
            margin: 20px;

    }

    a {
        text-decoration: none;
        color: white;
        text-shadow: black 2px 2px 2px;
        font-size: 1.5em;
    }

        body {
            font-family: 'Orbitron', sans-serif;
            background-color: #f0f0f0;
            text-align: center;
            background: url('/assets/fact.png');
            background-size: 100vw 100vh;
            background-repeat: no-repeat;
        }
        h1 {
        font-family: 'Faster One', cursive;
        color: black;
        text-shadow: orange 20px 4px 10px;
        font-size: 5em;

        /* color: #333; */
    }
    </style>
</head>
<nav>
    <a href="/cars">All Cars</a>
    <a href="/cars/new">New Car</a>
</nav>
<body>
    <h1>Welcome to Cars</h1>
</body>
</html>